.episode-details {
    padding: 1rem;
}

.episode-details .titre {
    margin-bottom: 1rem;
}

.episode-details .titre h3,
.episode-details .description-box h3 {
    margin: 0;
    font-size: 1.4rem;
    color: white;
    line-height: 1.6;

}

.episode-details .titre {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

.description-box {
    margin: 1rem 0;
    line-height: 1.6;
    color: white;
}

.duree p {
    font-style: italic;
    color: white;
}


.icon {
    position: relative; /* position normale */
    margin-top: 2rem;  /* espace en haut de l'élément */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajuste la taille comme nécessaire */
    height: 500px;
    background-color: black;
}

.icon img {
    max-width: 95%;
    max-height: 100%;
}
.realisateurs {
    padding: 1rem;
    margin-bottom: 2rem;
}

.realisateur-list {
    display: flex; /* Affiche les éléments en ligne (horizontalement) */
    gap: 1rem;
    padding-bottom: 1rem; /* Espace en bas pour éviter que le contenu soit coupé */
    max-width: 100%; /* Assure que l'élément ne dépasse pas le conteneur */
}

.image-real-list{
    display: flex; /* Affiche les éléments en ligne (horizontalement) */
    gap: 1rem;
    padding-bottom: 1rem; /* Espace en bas pour éviter que le contenu soit coupé */
    max-width: 100%; /* Assure que l'élément ne dépasse pas le conteneur */
    overflow-y: auto;
}

.episodes-container{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.ep-list{
    width: 400px;
}